/* Universal */

a {
  padding: 20px 10px;
  color: seashell;
}

header, body, footer {
  background-color: black;
  color: seashell;
  font-family: "Helvetica";
  font-size: 22px;
  text-align: center;
}

h2 h4 {
  color: seashell;
}

p {
  padding-top: 20px;
}

footer {
  height: 200px;
}

/* Header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;

}

header nav {
  padding-right: 10px;

}

.hero-content h2 {
  background-color: black;
  display: block;
  text-align: center;
  padding: 10px 100px;
  margin: 0;

}

.hero-content h4 {
  background-color: black;
  display: block;
  text-align: center;
  padding: 10px 100px;
  margin: 0;
}

.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 10px;
}

.logo img {
  height: 50px;
}

/* Hero section */

.hero-slider {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hero-image {
  height: 700px;
  background-image: url("/Users/KellyPierduta/Dropbox/CPD/codecademy/projects/TeaCosy/resources/images/img-mission-background.jpg");
  padding-top: 70px;
}

.hero-content {
  padding-top: 350px;
}

/* Tea of the month section */

.second-heading {
  padding-top: 70px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
  margin: auto;
}

.item {
  padding: 5px;
}

.item img {
  display: block;
  margin: 10px;
  height: 200px;
  width: 300px;
}

.item span {
    font-weight: bold;
    text-align: center;
}

/* Locations Section*/

.locations {
  padding-top: 70px;
  display: flex;
  justify-content: center;
}

.locations-image {
  background-image: url("/Users/KellyPierduta/Dropbox/CPD/codecademy/projects/TeaCosy/resources/images/img-locations-background.jpg");
  width: 1200px;
  height: 500px;
  padding-top: 70px;
}

.locations-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}

.contact {
  opacity: 1.0;
  padding: 10px;
  margin: 15px 20px;
  background-color: black;
  flex-basis: 300px;
}

footer #copyright {
  text-align: left;
  padding: 0px 0px 20px 20px;
}
